:root {
    --dark: rgb(4, 6, 109);
    --light: white;
    --alt: rgb(6, 181, 212);
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: sans-serif;
}

header {
    background-color: var(--dark);
    color: var(--light);
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5%;
}

h1 {
    font-size: 40px;
}
nav ul {
    display: flex;
    color: var(--light);
    justify-content: space-between;
    min-width: 400px;
    display: flex;
    font-weight: bold;
    list-style-type: none;
}
nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a::before {
    content: '🎐';
    display: inline-block;
    margin: 20px 0px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    transition: 1s;
    text-align: center;
    border: 10px solid var(--alt);
    margin: 10px 0px;
    border-style: ridge;
}

.card img {
    margin: 2%;
}

.card h2 {
    background-color: var(--alt);
    color: var(--light);
    margin: 5px 100px;
}

.card ul {
    background-color: var(--dark);
    color: var(--alt);
    text-decoration: none;
    margin: 10px 100px;
    font-size: 18px;
    text-align: left;
}

.work-sub-card {
    border: 10px solid var(--alt);
    background-color: black;
}

.work-sub-card h2 {
    background-color: black;
}

.work-sub-card img :hover {
  color: white;
  opacity: 0.5;
}

.contact-card {
    text-align: center;
    margin: 10px 0px;
    color: var(--light);
}

.contact-card h2 {
    background-color: var(--alt);
    margin: 5px 100px;
}

.social-card-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    margin: 5px;
}