:root {
    --dark: rgb(4, 6, 109);
    --light: white;
    --alt: rgb(6, 181, 212);
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: sans-serif;
}

header {
    background-color: var(--dark);
    color: var(--light);
    font-size: 16px;
    text-align: center;
    border: 5px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5%;
}

h1 {
    font-size: 40px;
}
nav ul {
    display: flex;
    color: var(--light);
    justify-content: space-between;
    min-width: 400px;
    display: flex;
    font-weight: bold;
    list-style-type: none;
}
nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a::before {
    content: '🎐';
    display: inline-block;
    margin: 2px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}

.card img {
    margin: 2%;
}

.card h2 {
    background-color: var(--alt);
    color: var(--light);
    margin: 5px;
}

.card ul {
    background-color: var(--dark);
    color: var(--alt);
    text-decoration: none;
    margin: 10px 15px;
    font-size: 14px;
    text-align: left;
}